<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.project.projectFinal.dao.ChampionDao">
	
	<select id="champList">
	
		select * from champListT order by champion_name_kr asc;
	
	</select>
	
	<select id="searchChamp">
	
		select
		champion_name_kr,
		champion_name
		from champListT
		where champion_name_kr like concat('%',#{searchChamp},'%') or champion_name like concat('%',#{searchChamp},'%') or champion_name_cons like concat('%',#{searchChamp},'%')
		order by champion_name_kr asc;
		
	</select>
	
	<select id="champLine">
	
		select
		champion_name_kr,
		champion_name
		from champListT
		where line like concat('%',#{line},'%')
		order by champion_name_kr asc;
		
	</select>
	
	<select id="allChampLine">
	
		select champion_name_kr,champion_name from champListT order by champion_name_kr asc;
		
	</select>
	
	<select id="reChampList">
	
		select champion_name,champion_name_kr from champListT order by champion_name_kr asc;
		
	</select>
	
	<select id="champRankTOP">
	
		select teamPosition, champion_name from champRankT where teamPosition = 'top' and champion_pick > 70 order by win_rate desc limit 0,3
	
	</select>
	
	<select id="champRankJUG">
	
		select teamPosition, champion_name from champRankT where teamPosition = 'jug' and champion_pick > 70 order by win_rate desc limit 0,3
	
	</select>
	
	<select id="champRankMID">
	
		select teamPosition, champion_name from champRankT where teamPosition = 'mid' and champion_pick > 70 order by win_rate desc limit 0,3
	
	</select>
	
	<select id="champRankADC">
	
		select teamPosition, champion_name from champRankT where teamPosition = 'adc' and champion_pick > 70 order by win_rate desc limit 0,3
	
	</select>
	
	<select id="champRankSUP">
	
		select teamPosition, champion_name from champRankT where teamPosition = 'sup' and champion_pick > 70 order by win_rate desc limit 0,3
	
	</select>
	
	<select id="getKRname">
	
		select champion_name_kr from champListT where champion_name = #{champion_name};
	
	</select>
	
</mapper>
