<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.projectFinal.dao.RiotGameDao">
	<insert id="RiotGameInfo">
		insert ignore into RiotGameInfoT
		values
		(#{matchId},#{championName},
		(select champion_name_kr from
		champListT where champion_name =
		#{championName}),
		#{riotIdGameName},
		#{riotIdTagline},#{summonerName},#{summonerLevel},#{profileIcon},#{participantId},#{queueId},#{teamId},
		#{item0},#{item1},#{item2},#{item3},#{item4},#{item5},#{summoner1Id},#{summoner2Id},
		(select spellName from RiotGameSpellT where summonerId =
		#{summoner1Id}),(select spellName from RiotGameSpellT where summonerId
		= #{summoner2Id}),
		#{teamPosition},#{kills},
		#{assists},#{deaths},#{kda},#{firstBloodKill},#{goldEarned},#{gameEndTimestamp},
		#{gameStartTimestamp},#{gameDuration},#{totalAllyJungleMinionsKilled},#{totalDamageDealtToChampions},
		#{totalDamageTaken},#{totalEnemyJungleMinionsKilled},#{totalMinionsKilled},
		#{wardsKilled},#{wardsPlaced},#{win},default,null,#{totalTimeCCDealt},#{totalTimeSpentDead},#{onMyWayPings},#{enemyVisionPings},
		#{physicalDamageDealtToChampions},#{magicDamageDealtToChampions},
		#{totalTeamkills},null,#{dragon},(select queueId_kor from QueueIdT
		where queueId = #{queueId}));

	</insert>
	<insert id="RiotGameTeams">
		insert into RiotGameTeamsT values
		(#{matchId},#{teamId},#{kills},#{dragon});
	</insert>
	<!-- <insert id="RiotGameBans"> -->
	<!-- insert into RiotGameBansT values -->
	<!-- (#{matchId},#{championId},#{pickTurn},#{teamId}); -->
	<!-- </insert> -->
	<select id="RiotGameInfoSelect">
		select * from RiotGameInfoT where matchId =
		#{matchId} order by participantId asc;
	</select>
	<select id="RiotGameTeamsSelect">
		select * from RiotGameTeamsT where matchId =
		#{matchId}
	</select>
	<!-- <select id="RiotGameBansSelect"> -->
	<!-- select * from RiotGameBansT where matchId = -->
	<!-- #{matchId} -->
	<!-- </select> -->
	<select id="DBRiotGameMatchSelect">
		select matchId from RiotGameInfoT where
		riotIdGameName =#{gameName};
	</select>
	<select id="DbriotGameData">
		select * from RiotGameInfoT where matchId =
		#{matchId}
	</select>
	<select id="getMatchId">
		select count(*) from RiotGameInfoT where matchId =
		#{matchId}
	</select>


	<select id="sendDataToPy">
		select * from RiotGameInfoT
		where matchId = #{matchId}
		and riotIdGameName = #{riotIdGameName}
		and riotIdTagline =
		#{riotIdTagline};
	</select>

	<select id="DBRiotGameName">
		select * from
		RiotGameInfoT where matchId =
		#{matchId};
	</select>
	<select id="UPdateTier">
		UPDATE RiotGameInfoT
		SET tier = #{tier}
		WHERE matchId =
		#{matchId} and riotIdGameName = #{riotIdGameName};

		select * from
		RiotGameInfoT
		where matchId = #{matchId}
		and riotIdGameName =
		#{riotIdGameName}
		and riotIdTagline = #{riotIdTagline};
	</select>

	

	<select id="forOneData">
		select * from
		RiotGameInfoT
		where matchId = #{matchId}
		and riotIdGameName = #{riotIdGameName}
		and riotIdTagline =
		#{riotIdTagline};
	</select>
	<select id="timelineInfo">
		select * from
		aiTimelineT
		where matchId = #{matchId}
		order by timestamp;
	</select>
	<select id="teamList">
		select * from
		RiotGameInfoT
		where matchId = #{matchId}
		order by participantId asc;
	</select>
	<select id="LanePrefer">
		select teamPosition from RiotGameInfoT where
		riotIdGameName = #{gameName}
		limit 0,19;
	</select>
	<select id="championPrefer">
		select championName, kda, win from RiotGameInfoT
		where riotIdGameName =
		#{gameName} and queueId = 420
		limit 0,19;
	</select>

	<select id="RiotGameInfoSelectRank">
		select matchId
		from RiotGameInfoT
		where riotIdGameName
		=#{gameName}
		order by matchId desc
		limit #{matchCnt}, 3;
	</select>

	<select id="RiotGameInfoSelectQueueId">
		select matchId
		from RiotGameInfoT
		where riotIdGameName
		= #{gameName} and queueId = #{queueId}
		order by matchId desc
		limit
		#{matchCnt}, 10;
	</select>
	<select id="findPartOfQueuId">
		select queueId,queueId_kor
		from RiotGameInfoT
		where
		riotIdGameName = #{riotIdGameName}
		group by queueId,queueId_kor;
	</select>

	<select id="nowMatchListCnt">
		select matchId
		from RiotGameInfoT
		where riotIdGameName = #{gameName}
		group by matchId
		order by matchId desc;
	</select>
	<select id="matchIdList">
		select *
		from RiotGameInfoT
		where riotIdGameName = #{gameName}
		group by matchId 
		order by matchId desc
		limit #{matchCnt}, 3;
	</select>
	<select id="infoData">
		select *
		from RiotGameInfoT
		where matchId = #{matchId}
		order by participantId ;
	</select>
		<select id="infoDataAll">
		select matchId
		from RiotGameInfoT
		where riotIdGameName = #{gameName}
		order by matchId desc
		limit 0, 10;
	</select>
	<select id="infoDataCnt">
		select matchId
		from RiotGameInfoT
		where riotIdGameName = #{gameName} and queueId = #{queueId} and riotIdTagline = #{tagLine}
		order by matchId desc
		limit 0,#{matchCnt};
	</select>
		<select id="infoDataAllCnt">
		select matchId
		from RiotGameInfoT
		where riotIdGameName = #{gameName} and riotIdTagline = #{tagLine}
		order by matchId desc
		limit 0,#{matchCnt};
	</select>
	<select id="saveAiData">
		replace into  airesultT
		values(#{matchId},#{participantId},#{key},#{championName},#{champion_name_kr},#{tier},#{length},#{accuracy},#{rankingS});
		
		select * from airesultT where matchId = #{matchId} and participantId = #{participantId};
			
	</select>
	
	<select id="findAiData">
		select *
		from airesultT
		where matchId = #{matchId} and participantId = #{participantId} ;
	</select>
</mapper>	